<template>
  <div class="detail ve-shadow">
    <div class="type">
      <span class="name">{{data.name}}</span>
      
    </div>
	 <div class="type">
      
      <span class="date">{{dateFormat(data.timestamp, 'yyyy-MM-dd hh:mm:ss')}}</span>
    </div>
    <div class="location">
      <span class="name">{{data.department}}</span>
      <span class="address">{{formatAddress(data.gps)}}</span>
    </div>
    <div class="media">
      <div class="file video" v-if="data.trackvideo && data.trackvideo.filelocation">
        <a :href="data.trackvideo.filelocation" target="_blank">
          <img src="../../assets/imgs/track_video_icon.png" alt="icon"/>
        </a>
      </div>
      <div class="file image" v-for="(img, index) in data.trackimages" :key="img.filehash + index">
        <a :href="img.filelocation" target="_blank" >
          <img :src="img.filelocation" alt="image"/>
        </a>
      </div>
      <div class="file pdf" v-for="(file, index) in data.files" :key="file.filehash + index">
        <a :href="file.filelocation" target="_blank">
          <img :src="fileIcon(file)" alt="icon"/>
          <span class="name" v-if="file.filename">{{file.filename}}</span>
        </a>
      </div>
    </div>
      <template v-if="data && data.verificationInfo">
          <audit v-for="(verify, index) in data.verificationInfo" :audit="{ ...verify.custom, ...verify.base }" :key="index"></audit>
      </template>

    <div class="tx" v-if="data.txId">
      <a target="_blank" :href="explorerUrl + '/transactions/' + data.txId">TXID: {{data.txId && data.txId.replace(data.txId.substring(10, 52), '.......')}}</a>
    </div>
  </div>
</template>

<script>
	import audit from '@/components/audit'
	import { dateFormat } from '@/utils/utils.js'
    import { language } from '@/utils/browser.js'
    import './index.scss'
	export default {
		components: {
			audit
        },
        props: {
                data: Object,
          explorerUrl: String
        },
        methods: {
          dateFormat(str, fmt) {
            return dateFormat(str, fmt)
          },
          formatAddress(gps) {
            if (gps && gps !== undefined) {
              var addressList = gps && [gps.city || '', gps.province||'', gps.country||''] || []
              var country = (gps && gps.country) || ''
              if (country === '中国' || country === '中國') {
                addressList = addressList.reverse()
              }
              return addressList.join(' ')
            }
            return ''
          },

          fileIcon(file){
            if(file.filetype == 'pdf') {
              return require("../../assets/imgs/pdf_icon.png")
            }
            if(file.filetype == 'docx' || file.filetype == 'doc') {
              return require("../../assets/imgs/word_icon.png")
            }
            if(file.filetype == 'xls' || file.filetype == 'xlsx') {
              return require("../../assets/imgs/execl_icon.png")
            }
            if(file.filetype.toLowerCase() == 'zip') {
              return require("../../assets/imgs/zip_icon.png")
            }
            return require("../../assets/imgs/other_icon.png")
          }
        }
	}
</script>
