<template>
  <div class="track">
    <h3 class="ve-section-title">{{$t('app.track_info')}}</h3>
    <world-map :locations="locations" :template="template" v-if="locations.length"></world-map>
    <div class="info">
      <iCell :data="track" :explorerUrl="explorerUrl" v-for="(track, index) in trackList" :key="index" />
      <div class="line">
        <div class="line-show" v-if="tracks.length > 1">
          <div class="line-info" v-for="(line, index) in tracks.length - 1" :key="index">
            <div class="top"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import iCell from './cell'
  import './index.scss'
	export default {
		components: {
      iCell
    },
    props: {
			explorerUrl: String,
			tracks: Array,
      template: Number
    },
		computed: {
    	trackList() {
    		return this.tracks.sort((a, b) => {
					return a.timestamp - b.timestamp
				})
      },
			locations() {
				return this.trackList.map(track => {
					return Object.assign({}, track.gps, { timestamp: track.timestamp })
        })
      },
    }
	}
</script>