.track {
  $bg: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
  .info {
    margin-top: 22px;
    position: relative;
    .detail {
      width: 315px;
      min-height: 237px;
      background-color: #FFFFFF;
      border-radius:0px 8px 8px 0px;
      border:1px solid rgba(222,222,222,1);
      border-left-width: 0px;
      margin: auto;
      margin-bottom: 20px;
      padding: 20px 0px 10px 25px;
      box-sizing: border-box;
      position: relative;
      &:last-child {
        margin-bottom: 0px;
      }
      .type {
        margin-right: 31px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        .name {
          flex: 1;
          color: #4A4A4A;
          font-size: 14px;
		  text-align: left;
		  font-weight:bold;
        }

        .date {
          flex: 1;
          color: #9B9B9B;
          font-size: 12px;
          text-align: left;
          line-height: 20px;
        }
      }
      .location {
        margin-right: 31px;
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        color: #4A4A4A;
        .name {
          font-weight: 600;
        }
        .location {
          margin-top: 5px;
        }
      }
      .media {
        display: flex;
        width: calc(100% - 4px);
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 1px 4px 1px 0;
        box-sizing: border-box;
        margin-top: 12px;
        &::-webkit-scrollbar {
          display: none;
        }
        .file {
          margin-right: 21px;
          min-width: 71px;
          width: 71px;
          height: 67px;
          border-radius: 8px;
          border: 1px solid #D7D7D7;
          text-align: center;
          &:active {
            border-color: #4A90E2;
          }
          img {
            margin-top: 19px;
          }
        }
        .video {
          background-image: url("../../assets/imgs/video_bg.png");
          background-size: cover;
        }
        .video img {
          width: 30px;
          height: 30px;
        }
        .image a {
          display:inline-block;
          width: 100%;
          height: 100%;
          img {
            margin-top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
          }
        }
        .pdf {
          background-color: #FEFEFE;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: inline-block;
            width: inherit;
            text-decoration: none;
          }
          img {
            margin-top: 0px;
            width: 24px;
            height: 30px;
          }
          span.name {
            display: inline-block;
            width: 80%;
            color: #727272;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .tx {
        margin-top: 29px;
        color: #4A90E2;
		font-size : 8px;
      }
    }
    .line {
      position: absolute;
      top: 0;
      left: 0;
      width: calc((100% - 315px) / 2);
      height: 100%;
      background-color: #F4F4F4;
      .line-show {
        content: '';
        position: absolute;
        top: 118px;
        left: calc(50% - .5px);
        width: 2px;
        height: calc(100% - 237px);
        background: $bg;
        display: flex;
        flex-direction: column;
      }
      .line-info {
        position: relative;
        left: calc(50% - 1px);
        width: 2px;
        flex: 1;
        .top {
          content: '';
          position: absolute;
          top: -6.5px;
          left: -5.5px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-image: url('../../assets/imgs/track_start.png');
          background-size: 100%;
        }
        &:last-child {
          .bottom {
            content: '';
            position: absolute;
            bottom: -12.5px;
            left: -11.5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-size: 100%;
            background-color: #F4F4F4;
            background-image: url('../../assets/imgs/track_end.png');
          }
        }
      }
    }
  }
  .ve-audit {
    margin: 0px;
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 30px;
    .ve-audit-header {
      background-color: #FFFFFF;
    }
  }
}
@media (min-width: 751px) {
  .track {
    .info {
      .detail {
        width: 680px;
      }
    }
  }
}
