<template>
  <section class="ve-rfid-valid">
    <div class="ve-logo">
      <img src="@/assets/imgs/Vechain_logo.png" />
      <h2>{{$t('app.sorry')}}</h2>
    </div>
    <div class="ve-content">
      {{message}}
    </div>
  </section>
</template>
<script>
  import './index.scss'
	export default {
		name: "rfid-valid",
		data() {
			return { }
		},
        props: {
		  message: String
        },
		methods: {
			refresh() {
				window.location.reload()
			}
		}
	}
</script>
