.ve-rfid-valid {
  height: 100vh;
  background-color: #f9f9f9;
  text-align: center;
}
.ve-logo img {
  width: 25.4vw;
  margin-top: 21vw;
}
.ve-logo h2{
  font-size: 24px;
  margin-top: 11vw;
  color: #bf4543;
}
.ve-content {
  margin-top: 4.3vw;
  line-height: 85px;
  font-size: 14px;
  color: #ABABAB;
}
a.ve-button {
  display: block;
  line-height: 12.8vw;
  width: 45.8vw;
  font-size: 24px;
  color: #FFFFFF;
  background-color: black;
  border-radius: 26vw;
  margin: auto;
  margin-top: 28.6vw;
}