<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="landing page" />
    <meta name="description" content="landing page" />
    <meta name="author" content="VeChain" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./logo.png">
    <title>landing page</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but landing-page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
      <% if(htmlWebpackPlugin.options.cdn) {%>
        <% for(var js of htmlWebpackPlugin.options.cdn.js) { %>
          <script src="<%=js%>"></script>
        <% } %>
      <% } %>
  </body>
</html>
