<template>
	<div>
      <h3 class="ve-section-title">{{$t('app.product_info')}}</h3>
      <article class="product-desc">
        {{data.skuInfo.description}}
      </article>
      <div class="product-params" v-if="data.skuInfo.productparames && data.skuInfo.productparames.length">
        <ul class="product-params-sec ve-shadow" >
          <li class="flex" v-for="(param, index) in data.skuInfo.productparames" :key="index">
            <span class="flex-left">{{param.key}}</span>
            <span class="flex-right">{{param.value}}</span>
          </li>
        </ul>
      </div>
      <div class="product-file" v-if="data.skuInfo.files && data.skuInfo.files.length">
        <a class="product-file-sec ve-shadow"
           target="_blank"
           :href="file.filelocation"
           v-for="(file, index) in (data.skuInfo.files || [])"
           :key="index">
          <img alt="icon" :src='fileIcon(file)'>
          <span class="name" v-if="file.filename">{{file.filename}}</span>
        </a>
      </div>

        <template v-if="data.skuInfo && data.skuInfo.verificationInfo">
            <audit v-for="(verify, index) in data.skuInfo.verificationInfo" :audit="{ ...verify.custom, ...verify.base }" :key="index"></audit>
        </template>

      <div class="txid" v-if="data.skuInfo.txId">
        <a  target="_blank" :href="data.explorerUrl + '/transactions/' + data.skuInfo.txId">{{$t('app.txid')}}{{data.skuInfo.txId && data.skuInfo.txId.replace(data.skuInfo.txId.substring(10, 52), '.......')}}</a>
      </div>
    </div>
</template>
<script>
    import audit from '@/components/audit'
	export default {
		props: {
			data: {
				type: Object
			}
		},
        components: {
            audit
        },
        methods: {
		    fileIcon(file){
                if(file.filetype == 'pdf') {
                    return require("../../assets/imgs/pdf_icon.png")
                }
                if(file.filetype == 'docx' || file.filetype == 'doc') {
                    return require("../../assets/imgs/word_icon.png")
                }
                if(file.filetype == 'xls' || file.filetype == 'xlsx') {
                    return require("../../assets/imgs/execl_icon.png")
                }
                if(file.filetype.toLowerCase() == 'zip') {
                    return require("../../assets/imgs/zip_icon.png")
                }
                return require("../../assets/imgs/other_icon.png")
            }
        }
	}
</script>
<style lang="scss">
.product-desc {
  line-height: 17px;
  width: 315px;
  margin: auto;
  font-weight: 400;
}
.product-params, .product-file {
  display: flex;
  width: calc(100vw - 4px);
  overflow-x: scroll;
  padding-right: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  ul.product-params-sec {
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 4px 31px 21px 16px;
    box-sizing: border-box;
    min-width: 305px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    max-height: 300px;
    overflow-y: scroll;
    li {
      box-sizing: border-box;
      border-bottom: 2px solid #EDEDED;
      padding-bottom: 1px;
      &:first-child {
        margin-top: 10px;
      }
    }
    .flex {
      display: flex;
      min-height: 40px;
      span {
        text-align: left;
        display: flex;
        align-items: center;
        white-space: normal;
        word-break: break-word;
      }
    }
    .flex-left {
      flex-basis: 35%;
      padding-left: 14px;
      margin-right: 20px;
    }
    .flex-right {
      flex-basis: 65%;
    }
  }
  .product-file-sec {
    margin-left: 30px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    color: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:active {
      border:1px solid #4A90E2;
    }
    img {
      width: 40px;
      height: 50px;
    }
    .name {
      margin-top: 5px;
      display: inline-block;
      width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.txid {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 10px;
  a {
    font-size: 14px;
    color: #4A90E2;
    line-height: 32px;
    text-decoration: none;
    position: relative;
    &:last-child {
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, #3023AE 0%, #C86DD7 100%);
      }
    }
  }
}

.product-params-sec::-webkit-scrollbar {
  -webkit-appearance: none;
  border-radius: 8px;
  width: 4px;
}

.product-params-sec::-webkit-scrollbar:vertical {
  width: 4px;
}

.product-params-sec::-webkit-scrollbar-thumb {
  border-radius: 20%;
  background: #EDEDED;
}

</style>
