<template>
	<div>
    <h3 class="ve-section-title">{{$t('app.show_info')}}</h3>
    <div class="show-info">
      <div class="show-imgs">
        <img
            v-lazy="img.filelocation"
            v-for="(img, index) in ((data.otherInfo && data.otherInfo.moreimages) || [])"
            alt="more pic"
            :key="index"
            class="ve-shadow"/>
      </div>
      <div class="show-videos">
        <ve-video :source="video.filelocation" v-for="video in ((data.otherInfo && data.otherInfo.morevedios) || [])" class="ve-video" :key="video.filehash"></ve-video>
      </div>
      <div class="show-links">
        <a v-for="(link, index) in ((data.otherInfo && data.otherInfo.webpages) || [])" target="_blank" :key="index" @click="jump(link.webpagelink)">{{link.webpagename}}</a>
      </div>
    </div>
  </div>
</template>
<script>
	export default {
		data () {
			return {}
		},
		props: {
			data: {
				type: Object,
				default () {
					return {}
				}
			}
		},
        methods: {

		    jump(href) {
		        if (href.startsWith('http://') || href.startsWith('https://')) {
                    window.location = href;
                }
            }
        }
	}
</script>
<style lang="scss">
.show-info {
  .show-imgs {
    display: flex;
    width: calc(100vw - 4px);
    overflow-x: scroll;
    padding-right: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      margin-left: 30px;
      margin-bottom: 10px;
      min-width: 112px;
      width: 112px;
      height: 141px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .show-videos {
    display: flex;
    width: calc(100vw - 4px);
    overflow-x: scroll;
    padding-right: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
    .ve-video {
      margin-left: 30px;
      margin-bottom: 10px;
      min-width: 305px;
      height: 165px;
      .video-js {
        height: 100% !important;
        border-radius: 8px;
        overflow: hidden;
        .vjs-big-play-button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;
          .vjs-icon-placeholder::before {
            color: #000000;
            opacity: .5;
            font-size: 24px;
            bottom: 50%;
            left: 1px;
          }
        }
      }
    }
  }
  .show-links {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 10px;
    a {
      font-size: 14px;
      color: #4A90E2;
      line-height: 32px;
      text-decoration: none;
      position: relative;
      &:last-child {
        &:after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 2px;
          background-image: linear-gradient(to right, #3023AE 0%, #C86DD7 100%);
        }
      }
    }
  }
}
</style>
