.ve-landing-page {
  font-family: Helvetica Neue, PingFangSC-Semibold, PingFang SC;
  background-color: #FBFBFB;
  min-height: 100%;
  margin: auto;

  .ve-landing-content {
    font-size: 12px;
    color: #727272;

    .ve-section-title {
      font-size: 16px;
      line-height: 16px;
      width: 315px;
      margin: auto;
      margin-top: 29px;
      margin-bottom: 20px;
      position: relative;
      color: #4A4A4A;

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -10px;
        width: 4px;
        height: 18px;
        background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
      }
    }
  }

  .ve-shadow {
    box-shadow: 2px 2px 8px 0px rgba(209, 209, 209, 0.5);
  }
}
