<template>
    <div class="ve-landing-page"
         v-bind:class="{ desktop: isDesk }"
         v-loading="loading">
        <div v-if="isValid">
            <iHeader :data='landingInfo' @tag-click='jump' />
            <download v-if="landingInfo.displayType === 'simple'" />
            <div class="ve-landing-content" v-if="landingInfo.displayType === 'all'">
                <iSummary class="info-sec" id="product" :data="landingInfo" />
				<iMore class="info-sec" :data="landingInfo" id="show" v-if="show" />
				<track-info class="info-sec" id="track" v-if="showTrackInfo" :tracks="populateTrackInfo" :explorerUrl="landingInfo.explorerUrl"></track-info>
				<error-page v-else :message="errorMsg"></error-page>
			</div>
          <iFooter :data='landingInfo' />
      </div>
    </div>
</template>
<script>
import './index.scss'
import trackInfo from '@/components/trackInfo'
import errorPage from '@/components/error'
import download from '@/components/download'
import vlSDK from 'toolchain-landingpage-web-sdk'
import iHeader from '@/components/header'
import iFooter from '@/components/footer'
import iMore from '@/components/more'
import iSummary from '@/components/summary'

export default {
    name: "index",
    data() {
        return {
            isDesk: document.documentElement.offsetWidth > 750,
            scroll: document.body.scrollTop || document.documentElement.scrollTop,
            landingInfo: {
                chainType: '',
                explorerUrl: '',
                displayType: 'all',
                skuInfo: {},
                mixingInfo: [],
                packagingInfo: [],
                coaInfo: [],
                otherInfo: {}
            },
            loading: true,
            isValid: true,
            errorMsg: ''
        }
    },
    components: {
        trackInfo,
        errorPage,
        download,
        iHeader,
        iFooter,
        iMore,
        iSummary
    },
    computed: {
        // showDisplayInfo() {
        //  return Object.keys(this.landingInfo.activity||[]).length > 0
        // },
        showTrackInfo() {
            return this.landingInfo.mixingInfo.length + this.landingInfo.packagingInfo.length + this.landingInfo.coaInfo.length;
        },
        populateTrackInfo() {
            var tracks = [];
            this.landingInfo.mixingInfo.forEach(processTrackList);
            this.landingInfo.packagingInfo.forEach(processTrackList);
            this.landingInfo.coaInfo.forEach(processTrackList);

            function processTrackList(item) {
                tracks.push(item);
            }
            return tracks;
        }
    },
    created() {

        var params = this.getUrlAllParams()

        var internal = params["internal"] || false

        var url = 'https://v3-dev.vechaindev.com/v1/data'
        url = 'https://v.vechain.com/v2/data'

        if (internal == true || internal == 'true') {
            url = 'https://workspace.vetoolchain.cn/operatorapi/landingpage/preview/all'
		}

        vlSDK.config({
            appKey: '729172cf7d61c21523b5e266a32bbd8e',
            __url: url,
            __isUUID: false,
            internal: internal,
            cache: false
        })

        vlSDK.getUuids({
            params: {
                vid: '0x881b46390015854580155d01dd74ee1076c8a3e1da31101b3e31f799b8033156'
            },
            success: function(res) {
                // success here
                console.log('getUuids Response ::', JSON.stringify(res, null, 2));
                console.log('Again  : ', vlSDK.again({
                    vid: '0x881b46390015854580155d01dd74ee1076c8a3e1da31101b3e31f799b8033156'
                }))
            },
            fail: function(err) {
                // error here

            },
            callback: function(res) {

            }
        })


        this.getInfos()

    },
    mounted() {
        this.setScrollTop(0)
        window.addEventListener('scroll', () => {
            this.scroll = document.documentElement.scrollTop || document.body.scrollTop
            this.loadScroll()
        })
    },
    methods: {
        getInfos() {
            var params = this.getUrlAllParams()
			//var internal = params["internal"] || false
            var keys = []

            var skuUuid = 'sku_4347'
            var buInfoUuid = 'bindsku_ae81'
            var mixingInfoUuid = 'datapoint_2d32'
            var packagingInfoUuid = 'datapoint_f291'
            var coaInfoUuid = 'datapoint_b723'

            keys = [skuUuid, buInfoUuid, packagingInfoUuid, mixingInfoUuid, coaInfoUuid]

            this.getData({
                params: params,
                keys: keys,
                callback: ({
                    jsonData,
                    displayType,
                    chain,
                    explorerUrl,
                    ...data
                }) => {
                    this.loading = false

                    let {
                        mixinginfo,
                        packaginginfo,
                        coainfo,
                        enbaseinfo
                    } = jsonData

                    let skuUuidObj = jsonData[skuUuid] || {}
                    mixinginfo = jsonData[mixingInfoUuid] || []
                    packaginginfo = jsonData[packagingInfoUuid] || []
                    coainfo = jsonData[coaInfoUuid] || []
                    enbaseinfo = jsonData[buInfoUuid]

                    let {
                        certUrl,
                        vid
                    } = data

                    var otherInfo = {
                        certUrl,
                        vid,
                        verificationInfo: (enbaseinfo && enbaseinfo.verificatoninfo) || []
                    }

                    if (enbaseinfo != undefined) {
                        otherInfo = {
                            certUrl,
                            vid,
                            ...enbaseinfo.base,
                            ...enbaseinfo.custom,
                            verificationInfo: (enbaseinfo && enbaseinfo.verificatoninfo) || []
                        }
                    }


                    Object.assign(this.landingInfo, {
                        displayType: displayType || 'all',
                        chainType: chain || '',
                        explorerUrl,
                        skuInfo: {
                            ...skuUuidObj.base || {},
                            ...skuUuidObj.custom || {},
                            ...skuUuidObj.blockinfo || {},
                            verificationInfo: (skuUuidObj && skuUuidObj.verificatoninfo) || []
                        },
                        mixingInfo: mixinginfo && mixinginfo.map(({
                            base,
                            custom,
                            blockinfo = {},
                            verificatoninfo
                        }) => {
                            return {
                                ...base,
                                ...custom,
                                ...blockinfo,
                                verificationInfo: verificatoninfo
                            }
                        }),
                        packagingInfo: packaginginfo && packaginginfo.map(({
                            base,
                            custom,
                            blockinfo = {},
                            verificatoninfo
                        }) => {
                            return {
                                ...base,
                                ...custom,
                                ...blockinfo,
                                verificationInfo: verificatoninfo
                            }
                        }),
                        coaInfo: coainfo && coainfo.map(({
                            base,
                            custom,
                            blockinfo = {},
                            verificatoninfo
                        }) => {
                            return {
                                ...base,
                                ...custom,
                                ...blockinfo,
                                verificationInfo: verificatoninfo
                            }
                        }),
                        otherInfo: otherInfo
                    })
                }
            })
        },
        getData({
            params = {},
            keys: fields,
            callback = _ => {}
        }) {

            var self = this
            vlSDK({
                params: {
                    ...params,
                    types: fields
                },
                success: function(res) {
                    callback(res)
                },
                fail: res => {
                    self.isValid = false
                    self.errorMsg = res.message
                },
                callback: res => {
                    self.loading = false
                }
            })
        },
        getUrlAllParams(name) {
            let query = window.location.search.substring(1)
            let res = {}
            window.location.search.substring(1).split('&').forEach(item => {
                let [key, val] = item.split('=')
                key && (res[key] = val)
            })
            return name ? res[name] : res
        },
        setScrollTop(val) {
            document.documentElement.scrollTop = val
            document.body.scrollTop = val
        },
        jump(event) {
            var nav = document.querySelectorAll('.jump-href a')
            var sec = document.querySelectorAll('.info-sec')
            // 获取需要滚动的距离
            let total = 0 // parseInt((document.documentElement.offsetWidth || 375) * 0.587)

            for (var i = nav.length - 1; i >= 0; i--) {
                if (event.target === nav[i]) {
                    total = sec[i].offsetTop - 218
                }
            }
            this.setScrollTop(total)
        },
        loadScroll: function() {
            var sec = document.querySelectorAll('.info-sec')
            var nav = document.querySelectorAll('.jump-href a')
            for (var i = sec.length - 1; i >= 0; i--) {
                if (this.scroll >= sec[i].offsetTop - 218) {
                    nav.forEach(item => {
                        if (item !== nav[i]) {
                            item.className = ''
                        } else {
                            nav[i].className = 'active'
                        }
                    })
                    break
                }
            }
        }
    }
}
</script>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
