<template>

    <div class="ve-corner-marker" v-if="data.chainType && data.chainType !== 'mainnet'">
        <span>{{data.chainType && $t(`app.${data.chainType}`)}}</span>
    </div>

</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                default() {
                    return {}
                }
            }
        }
    }
</script>

<style scoped>
    .ve-corner-marker {
        position: fixed;
        z-index: 3;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background-image: linear-gradient(135deg, #3023ae, #c86dd7);
        clip-path: polygon(0 0, 60px 0, 60px 60px);
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;

    span {
        display: inline-block;
        transform: translateX(10px) translateY(10px) rotate(45deg) scale(.8);
    }

    }
</style>
