<template>
	<div class="ve-landing-header">
    <div class="bu-logo" v-if="data.otherInfo && data.otherInfo.enlogo && data.otherInfo.enlogo.filelocation">
      <img :src="data.otherInfo.enlogo && data.otherInfo.enlogo.filelocation" alt="En logo">
    </div>
    <iChainType :data='data'></iChainType>
    <div class="main-pic">
        <template v-if="!loading && data.otherInfo">
            <div class="img"
                 alt="main pic"
                 v-if="!hideHeadImg || !data.otherInfo.loadingvideo || !data.otherInfo.loadingvideo.filelocation"
                 :style="{'background-image':`url(${data.skuInfo.mainimage && data.skuInfo.mainimage.filelocation})`}"/>
            <ve-video :source="data.otherInfo.loadingvideo.filelocation"
                      @error="handleError"
                      :options="options"
                      @endEvent="showHeadImg"
                      v-if="data.otherInfo.loadingvideo && data.otherInfo.loadingvideo.filelocation && hideHeadImg" class="ve-video"></ve-video>
        </template>

    </div>
    <div class="name">
      <span class="bu">{{data.otherInfo&&data.otherInfo.enname}}</span>
      <h3>{{data.skuInfo.productname}}</h3>
      <p class="vid" v-if="data.otherInfo&&data.otherInfo.vid">
        <i class="vid-icon"></i>
        <a :href="data.otherInfo.certUrl + `&lang=${lang}`" target="_blank">{{data.otherInfo.vid && data.otherInfo.vid.replace(data.otherInfo.vid.substring(10, 52), '.......')}}</a>
      </p>
    </div>
        <template v-if="data.otherInfo && data.otherInfo.verificationInfo">
                <div class="valid"
                     v-if="data.displayType === 'all'"
                     v-for="(verify, index) in data.otherInfo.verificationInfo"
                     :key="index">
                  <img src="../../assets/imgs/dnv_valid.png" />
                  <span class="desc">{{{...verify.custom, ...verify.base}.description}}</span>
                </div>
        </template>

        <template v-if="data.otherInfo">
            <iNavBar :data = 'data' @click-tab='jump' v-if="data.otherInfo"></iNavBar>
        </template>

  </div>
</template>
<script>
  import './index.scss'
  import iNavBar from './navBar.vue'
  import iChainType from './chainType.vue'
	export default {
        components: {
            iNavBar,
            iChainType

        },
		data () {
			return {
				hideHeadImg: true,
        hide: true,
        options: {
          autoplay: true,
          controlBar: {
            timeDivider: false,
            durationDisplay: false,
            remainingTimeDisplay: false,
            fullscreenToggle: false  //全屏按钮
          }
        },
			}
		},
    props: {
      data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    computed: {
      showDisplayInfo() {
        return Object.keys(this.data.activity||[]).length > 0
      },
      showTrackInfo() {
        return this.data.trackInfo.length
      },
      lang () {
        return !!~navigator.language.indexOf('zh') ? 'zh' : 'en'
      }
    },
    methods: {
      handleError () {
        this.hideHeadImg = false
      },
      showHeadImg () {
        this.hideHeadImg = false
      },
      jump (e) {
        this.$emit('tag-click', e)
      }
    }
	}
</script>
