.ve-landing-header {
  position: relative;
  .ve-corner-marker {
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: linear-gradient( 135deg, #3023ae, #c86dd7);
    clip-path: polygon(0 0, 60px 0, 60px 60px);
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    span {
      display: inline-block;
      transform: translateX(10px) translateY(10px) rotate(45deg) scale(.8);
    }
  }
  .bu-logo {
    position: absolute;
    top: 20px;
    left: 21px;
    width: 51px;
    img {
      width: 100%;
    }
  }
  .vid {
    font-size: 12px;
    i {
      display: inline-block;
      padding: 2px;
      box-sizing: border-box;
      width: 24px;
      height: 16px;
      position: relative;
      background-color: #4A90E2;
      border-radius:2px;
      color: #FFFFFF;
      font-style: initial;
      font-weight: 500;
      vertical-align: bottom;
      &:before {
        content: 'VID';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    a {
      margin-left: 7px;
      color: #4A90E2;
    }
  }
  .main-pic {
    height: 430px;
    position: relative;
    background-image: url("../../assets/imgs/lostrange_bg.jpeg");
    background-repeat: repeat;
    background-size: 30%;
    background-position-y: -55px;

    .img {
      background-repeat: repeat;
      background-position: center;
      background-size: contain;
    }

    .img, .ve-video {
      width: 228px;
      height: 289px;
      border-radius: 8px;
      position: absolute;
      right: 30px;
      bottom: 33px;
      object-fit: cover;
      .vjs-control-bar {
        //display: none;
      }
    }
  }
  .fix-navbar {
    width: 100%;
    //height: 198px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-bottom: 20px;
    .content {
      margin: 0 70px;
    }
    .bu {
      text-align: center;
      margin-top: 62px;
    }
    h3 {
      text-align: center;
    }
    .vid {
      margin-top: 8px;
      text-align: center;
    }
    .jump-href {
      font-size: 16px;
      line-height: 22px;
      display: flex;
      justify-content: space-between;
      margin: 20px 31px 0px 30px;
      a {
        flex: 1;
        color: #9B9B9B;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        text-align: center;
      }
      .active {
        font-weight: 600;
        color: #4A4A4A;
        &:after {
          content: '';
          position: absolute;
          bottom: -9px;
          left: calc(50% - 23px);
          width: 45px;
          height: 4px;
          background:linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
        }
      }
    }
  }
  .name {
    min-height: 74px;
    margin-left: 63px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: -21px;
      width: 6px;
      height: 100%;
      background-image: linear-gradient(to bottom, #3023AE 0%, #C86DD7 100%);
    }
    .bu {
      margin-top: 2px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .valid {
    margin: 14px 20px 0px 20px;
    line-height: 31px;
    border-radius: 7px;
    border: 1px solid #99D6F0;
    display: flex;
    align-items: center;
    padding: 12px 0 13px 0;
    img {
      width: 64px;
      height: 18px;
      margin-left: 21px;
    }
    .desc {
      font-size: 14px;
      margin-left: 15px;
      line-height: 15px;
    }
  }
}

@media (min-width: 751px) {
  .fix-navbar {
    display: none;
  }
}

.ve-video {
  .video-js {
    height: 100% !important;
    border-radius: 8px;
    overflow: hidden;
    .vjs-big-play-button {
      top: 50%;
      left: 50%;
      transform: translateX(-15px) translateY(-15px);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      .vjs-icon-placeholder::before {
        color: #000000;
        opacity: .5;
        font-size: 24px;
        top: calc(-50% + 5px);
        left: 1px;
      }
    }
  }

}

.text-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
