<template>
    <div class="navbar">
    <transition name="fade">
        <div class="fix-navbar ve-shadow" v-if="!hide && (showDisplayInfo || showTrackInfo)">
            <div class="bu-logo" style="position: fixed;">
                <img :src="data.otherInfo && data.otherInfo.enlogo && data.otherInfo.enlogo.filelocation">
            </div>
            <div class="content" v-if="data.otherInfo">
                <p class="bu text-line1">{{data.otherInfo&&data.otherInfo.enname}}</p>
                <h3 class="text-line1">{{data.skuInfo.productname}}</h3>
                <p class="vid" v-if="data.otherInfo && data.otherInfo.vid">
                    <i class="vid-icon"></i>
                    <a :href="data.otherInfo.certUrl + `&lang=${lang}`" target="_blank">{{data.otherInfo.vid && data.otherInfo.vid.replace(data.otherInfo.vid.substring(10, 52), '.......')}}</a>
                </p>
            </div>
            <div class="jump-href">
                <a @click="jump($event)" class="active">{{$t('app.product_head')}}</a>
                <a @click="jump($event)" v-if="showDisplayInfo">{{$t('app.show_head')}}</a>
                <a @click="jump($event)" v-if="showTrackInfo">{{$t('app.track_head')}}</a>
            </div>
        </div>
    </transition>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                hideHeadImg: true,
                hide: true,
                options: {
                    autoplay: true,
                    controlBar: {
                        timeDivider: false,
                        durationDisplay: false,
                        remainingTimeDisplay: false,
                        fullscreenToggle: false  //全屏按钮
                    }
                },
            }
        },
        props: {
            data: {
                type: Object,
                default () {
                    return {}
                }
            }
        },
        computed: {
            showDisplayInfo() {
                return Object.keys(this.data.activity||[]).length > 0
            },
            showTrackInfo() {
                return this.data.trackInfo.length
            },
            lang () {
                return navigator.language === 'en' ? 'en' : 'zh'
            }
        },
        methods: {
            handleError () {
                this.hideHeadImg = false
            },
            showHeadImg () {
                this.hideHeadImg = false
            },
            jump (e) {
                this.$emit('click-tab', e)
            }
        },
        mounted () {
            let index = 0
            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.boundingClientRect.y < -358 && !index) {
                        this.hide = true
                    }
                    if (index) {
                        this.hide = !this.hide
                    }
                    index++
                })
            }, { threshold: [.2] })
            observer.observe( document.querySelector('.ve-landing-header .main-pic') )
        }
    }
</script>

<style scoped>
.navbar {
    position: relative;
    .fix-navbar {
        width: 100%;
    //height: 198px;
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        padding-bottom: 20px;
        .content {
            margin: 0 70px;
        }
        .bu {
            text-align: center;
            margin-top: 62px;
        }
        h3 {
            text-align: center;
        }
        .vid {
            margin-top: 8px;
            text-align: center;
        }
        .jump-href {
            font-size: 16px;
            line-height: 22px;
            display: flex;
            justify-content: space-between;
            margin: 20px 31px 0px 30px;
        a {
            flex: 1;
            color: #9B9B9B;
            font-weight: 400;
            text-decoration: none;
            position: relative;
            text-align: center;
        }
        .active {
            font-weight: 600;
            color: #4A4A4A;
            &:after {
                 content: '';
                 position: absolute;
                 bottom: -9px;
                 left: calc(50% - 23px);
                 width: 45px;
                 height: 4px;
                 background:linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
                }
            }
        }
    }

}
</style>
