<template>
  <div class="ve-loading">
    <img src="./loading-bars.svg" alt="loading">
  </div>
</template>

<script>
	export default {
		name: "loading"
	}
</script>

<style scoped>
  .ve-loading {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
  }
</style>