.ve-audit {
  margin: 12px 37px 0px 38px;
  padding: 15px 11px 15px;
  box-sizing: border-box;
  border: 1px solid #0543AF;
  border-radius: 8px;
  position: relative;
  color: #0543AF;
  font-weight: 500;
  font-size: 12px;
  .ve-audit-header {
    background-color: #FBFBFB;
    position: absolute;
    top: -10px;
    left: -8px;
    padding: 0px 10px 8px 0px;
    img {
      width: auto;
      height: 18px;
    }
  }
  .ve-audit-content {
    padding: 9px 15px 3px 6px;
    border-bottom: 1px solid #0543AF;
    display: flex;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 12px;
    }
    span {
      margin-left: 10px;
    }
  }
}