<template>
  <div class="ve-audit">
    <div class="ve-audit-header">
      <img :src="audit.logoUrl && audit.logoUrl.filelocation || require('../../assets/imgs/dnv_valid.png')" />
    </div>
    <div class="ve-audit-content">
      <img src="../../assets/imgs/audit.png"/>
      <span>{{audit && audit.desclanguagemap[lang] || audit.description}}</span>
    </div>
  </div>
</template>

<script>
import './index.scss'
export default {
  name: "audit",
  data() {
  	return {
  		lang:  navigator.language.indexOf('zh') > -1 ? 'zh-CN' : 'en-US'
    }
  },
  props: {
    audit: Object
  }
}
</script>
