<template>
  <div class="ve-landing-footer" v-if="data.displayType === 'all'">
    <img alt="icon" src="../../assets/imgs/powered.png">
  </div>
</template>
<script>
  export default{
    data () {
      return {}
    },
    props: {
      data: {
        type: Object,
        default () {
          return {}
        }
      }
    }
  }
</script>
<style lang='scss'>
  .ve-landing-footer {
    margin-top: 30px;
    height: 97px;
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
    img {
      margin-top: 15px;
      width: 180px;
      height: 28px;
    }
  }
</style>
