html {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body, div, p, h1, h2, h3, h4 {
	margin: 0;
}

html, body, #app {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style: none;
}