<template>
    <div class="download">
        <p>{{$t('app.download_msg')}}</p>
        <a @click="download">{{$t('app.download')}}</a>
    </div>
</template>

<script>
    import callApp from '@/utils/callApp.js'
    import browser from '@/utils/browser.js'

    export default {
        name: "download",
        methods: {
            download() {
                callApp(function () {
                    if (browser.isIos) {
                        window.location.href = "https://itunes.apple.com/cn/app/id1335906787?mt=8"
                    }
                    if (browser.isAndroid) {
                        window.location.href = "https://appwallet-download.vechain.com/VeChainPro/public/VeChainPro.apk"
                    }
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    .download {
        width: 100%;
        height: 163px;
        background-image: url("../../assets/imgs/bottom_bg.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;

        p {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            margin-top: 30px;
        }

        a {
            text-align: center;
            margin-top: 14px;
            display: inline-block;
            width: 146px;
            line-height: 32px;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            box-sizing: border-box;
            box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.5);
            border-radius: 2px;
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }
</style>
