<template>
  <div id="app">
    <index />
  </div>
</template>

<script>
	import Index from "./pages/index.vue";
	import '@/assets/base.css'
	export default {
		name: 'app',
		components: {
			Index
		}
	}
</script>
