<template>
  <div id="mapdiv" class="ve-shadow"></div>
</template>
<script>
import './index.css'
import '@/plugins/ammap.css'
import AmCharts from '@/plugins/ammap.js'
import '@/plugins/worldLow.js'
export default {
  name: 'worldmap',
  props: {
    locations: Array
  },
  methods:{
    getMax(longitudesAry, latitudeAry, midLongitudes, midLatitude){
      var disLongitudesAry = [], dislatitudeAry = []
      longitudesAry.forEach(item => {
        disLongitudesAry.push(Math.abs(item-midLongitudes))
      })
      latitudeAry.forEach( item => {
        dislatitudeAry.push(Math.abs(item-midLatitude))
      })
      return [Math.max(...disLongitudesAry), Math.max(...dislatitudeAry)]
    }
  },
  mounted() {
    var that = this
    var targetSVG =
      'M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z'
    let latitudes = []
    let longitudes = []

    let cities = []

    var locationsAry = [];
    this.locations.forEach( item => {
      //旧数据很多经纬度为0都是GPS数据未上传，这些点不要渲染到地图上
      if((item.lat && Number(item.lat) != 0) || (item.lon && Number(item.lon) != 0)){
        locationsAry.push(item)
      }
    })
    if (locationsAry.length === 0) that.showMap = false // 如果溯源信息的GPS位置都不存在的话，地图隐藏
		locationsAry.sort((a, b) => {
			return a.timestamp - b.timestamp
		})
		locationsAry.forEach(item => {
      latitudes.push(parseFloat(item.lat))
      longitudes.push(parseFloat(item.lon))
      cities.push({
        svgPath: targetSVG,
        title:  item.address || '',
        latitude: parseFloat(item.lat),
        longitude: parseFloat(item.lon),
        strokeColor: '#fff',
        stokeWidth: 1
      })
    })
    function getPeak(ary){
      return [Math.max(...ary), Math.min(...ary)]
    }
    let zoomLongitude = getPeak(longitudes)
    let zoomLatitude = getPeak(latitudes)
    var map

    // svg path for plane icon
    var planeSVG =
      'm2,106h28l24,30h72l-44,-133h35l80,132h98c21,0 21,34 0,34l-98,0 -80,134h-35l43,-133h-71l-24,30h-28l15,-47'
		AmCharts.ready(function() {
			let planes = [
				{
					svgPath: planeSVG,
					positionOnLine: 0,
					color: '#D3D3D3',
					alpha: 0.4,
					animateAlongLine: true,
					lineId: 'line2',
					flipDirection: false,
					loop: true,
					scale: 0.03,
					positionScale: 1.1
				},
				{
					svgPath: planeSVG,
					positionOnLine: 0,
					color: '#3A45B1',
					animateAlongLine: true,
					lineId: 'line1',
					flipDirection: false,
					loop: true,
					scale: 0.03,
					positionScale: 1.3
				}
			]
			map = new AmCharts.AmMap()
			var dataProvider = {
				mapVar: AmCharts.maps.worldLow
			}
			map.developerMode = true
			map.zoomOnDoubleClick = false
			map.areasSettings = {
				unlistedAreasColor: '#D3D3D3',
				unlistedAreasOutlineColor: '#fff'
			}
			map.imagesSettings = {
				color: '#3A8BB1',
				rollOverColor: '#fff',
				selectedColor: '#fff',
				pauseDuration: 0.2,
				animationDuration: 3.5,
				adjustAnimationSpeed: true
			}

			map.linesSettings = {
				color: '#3A8BB1',
				alpha: 0.4
			}
			map.zoomControl = {
      }

			// LONDON
			var lines = [
				{
					id: 'line1',
					arc: -0.85,
					alpha: 0.3,
					dashLength: '.5',
					latitudes: latitudes,
					longitudes: longitudes
				},
				{
					id: 'line2',
					alpha: 0,
					color: '#000000',
					latitudes: latitudes,
					longitudes: longitudes
				}
			]
			dataProvider.images = cities.concat(planes)
			dataProvider.lines = lines
			dataProvider.zoomLongitude = (zoomLongitude[0]+zoomLongitude[1])/2
			dataProvider.zoomLatitude = (zoomLatitude[0]+zoomLatitude[1])/2
			//离中心点最远的经度和纬度
			var result = that.getMax(longitudes, latitudes, dataProvider.zoomLongitude, dataProvider.zoomLatitude)
			//容器宽: 750, 高: 450; 像素与经纬度比例即为最大放大倍数
			if(longitudes.length>1){
				var w = 320 / 2 / result[0], h = 200 / 2 / ( 750 / 450 ) / result[1]
				var o = w > h ? h : w;
				//当距离很短的时候需要做最大放大倍数限制
				dataProvider.zoomLevel = o > 3.5 ? 3.5 : o
			}else{
				dataProvider.zoomLevel = 1
			}
			map.dataProvider = dataProvider
			map.write('mapdiv')
		})

    // ready里面的函数会在window.onload里面执行，因为封装成了异步组件，所以这边需要call一下下面的函数来执行ready里面的任务
		AmCharts.handleLoad()
	}
}
</script>
